$text-primary: #414141;
$text-gray1: #717171;
$background-black1: #161616;
$background-black2: #202020;
$background-gray1: #EFEFF4;
$background-gray2: #F8F8FA;
$background-gray3: #F6F6F6;
$background-blue1: #C2CAEE;
$border-gray1: #D2D2DE;
$border-gray2: #E3E3E9;
$dark-red: #CA2047;
$red: #EE4242;
$light-red: #FE5971;
