@import "src/styles/colors";

.navHeader {
	height: 1px;
	width: 100px;

	& .header {
		height: 51.02px;
		width: 100%;
		justify-content: center;
		background-color: #FFFFFF;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
		color: $text-primary;

		&.dark {
			background-color: #292929;
			color: #FFFFFF;
		}

		& .logo {
			height: 28px;
			width: 139px;
		}

		& .message {
			height: 40px;
			width: 40px;
		}

		& .right {
			display: flex;
			align-items: center;
			font-size: 18px;
			position: absolute;
			right: 20px;			
		}
	}
}
